
body {
font-family: 'Roboto', sans-serif;
    
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0px 15px;

}


img {
    display: block;
}


:root {
}

p,
h1, 
h2, 
h3, 
h4, 
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}



.hero, .feature, .team, .customers, .footer {
    padding: 120px 0;
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3333;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    margin-right: 76px;

 }

 .colortext {
    color: #4D5AE5;
    }


/* HEADER */
.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
    border-bottom-width: 1px;
    gap: 40px;
    padding: 0 15px 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    flex-grow: 1;
    margin-right: auto;
    
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    
}

.header-nav-link:hover,
.header-nav-link:focus {
color: #404BBF;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    display: flex;
    padding: 24px 0;
 
}

.contacts-address {
    font-style: inherit;
}

.contacts-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 40px;
}
        
.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
list-style: none;

}

.contacts-link:hover,
.contacts-link:focus {
    
    color: #404BBF;
} 

    /* HERO */
.hero {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero.jpg);
    padding-bottom: 188px;
    padding-top: 188px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px; 
    margin-left: auto;
    margin-right: auto;
}

.hero-container {

}

.hero-title {
font-size: 56px;
line-height: 1.0714;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin: 0 auto 48px auto;
max-width: 496px;
}

.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
display: block;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 16px;
margin: 0 auto;
min-width: 169px;
height: 56px;
cursor: pointer;
}

/* FEATURE */

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
list-style-type: none;
display: flex;
gap: 24px;


}

.scroll-box {
    flex-basis: calc((100%-72px)/4);
    gap: 24px;

}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
}

.feature-uptitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

 }

 .icons-list {
    display: flex;
    justify-content: center;
    align-items: center;


}

.icons-item {

    
}
.icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
  

}
.icon-style {
}

.icon {
    
}

 /* WORK */
.work {
    padding-bottom: 120px;
}

 .work-title {
font-size: 36px;
line-height: 1.1111;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;

 }

 .work-list {
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;

}

.work-item {
width: calc((100% - 48px) / 3);

}

/* TEAM */

.team {
background-color: #F4F4FD;
}

.team-title {
font-size: 36px;
line-height: 1.1111;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.team-list {
list-style-type: none;
display: flex;
gap: 24px;
flex-wrap: wrap;
padding-left: 0px;


}

.list-item {
flex-basis: calc(( 100% - 72px ) / 4);
background-color: white;
border: #E7E9FC;
border-width:  1px;
border-style: solid;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.photo {
display: block;
max-width: 100%;
     
}

.team-member {
border-radius: 0px 0px 4px 4px;
padding: 32px 0;

}

.member {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.member-position {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;
    
}
.list {
    list-style: none;
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}



.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}
.socials-icon{
    fill:  #f4f4fd ;
}

.socials-link:hover,
.socials-link:focus{
    background-color: #404BBF;
}


.link {
}
.socials-icon {
}

/* CUSTOMERS */

.title {
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: #2e2f42;
}

.clients-list {
    display: flex;
    align-items: center;
    gap: 24px;

}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8E8F99;
    border-radius: 4px;

    width: 168px;
    height: 88px;

    color: #8e8f99;

}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #404BBF;
  color: #404bbf;
}

.customers-icon-logo {
    fill: currentColor;
}


/* FOOTER */


.footer {
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
align-items: baseline;

}

.container-footer {
    display: flex;
    align-items: baseline;



}

.container-logo-footer {
    margin-right: 120px;


}

.footer-uptitle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
max-width: 264px;
    
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;
    
}

.colortext-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    
}
/* FOOTER SOCIAL MEDIA */

.footer-text {
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-media {
    color: #F4F4FD;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#FFFFFF;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;

}

.sm-item {
    width: 40px;
    height: 40px;

}

.link-sm {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.link-sm:hover,
.link-sm:focus
 {
    background-color: #31d0aa;
}

.sm-icon {
    fill:  #f4f4fd ;

}

/*----------------------------------------PORTFOLIO--------------------------------------------- */
.container-portfolio {
    padding: 96px 0 120px;
 
}
.portfolio-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    gap: 24px;
    margin-bottom: 72px;    
     
}

img {
    display: block;
}

.nav-list-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
min-width: 69px;
padding: 12px 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;

}

.nav-list-btn:hover,
.nav-list-btn:focus {
color: #FFFFFF;
background-color:#404BBF;
border: 1px solid transparent; 
box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-work {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-decoration: none;

}

.portfolio-list {
list-style-type: none;
display: flex;
gap: 24px;
flex-wrap: wrap;
padding-left: 0px;
row-gap: 48px;

}

.portfolio-item {
    width: calc((100% - 48px) / 3); 
    display: block;
   
}

.link-portfolio:focus,
.link-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:nth-child(3n+1) {
    margin-right: 0px;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}

.portfolio-uptitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
}

.link-portfolio {
    text-decoration: none;
    display: block; 
}
